sudo: false

language: c

os:
  - linux
  - osx

env:
  - PATH=$HOME/.nimble/bin:$PATH
    APP_NAME=nimjson

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libsdl1.2-dev
      - libgc-dev
      - libsfml-dev

before_install:
  - curl https://nim-lang.org/choosenim/init.sh -sSf -o init.sh
  - bash init.sh -y
  - choosenim "#v0.20.0"

before_script:
  - set -e
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then unset -f cd; fi
  - echo PATH:${PATH}
  - set +e

script:
  - set -e
  - nimble ci
  - set +e

before_deploy:
  - mkdir -p dist/${APP_NAME}_${TRAVIS_OS_NAME}
  - cp -rf LICENSE README* bin dist/${APP_NAME}_${TRAVIS_OS_NAME}/
  - tar -C dist -czf ${APP_NAME}_${TRAVIS_OS_NAME}{.tar.gz,}

deploy:
  provider: releases
  api_key: "$GITHUB_OAUTH_TOKEN"
  keep-history: false
  skip_cleanup: true
  file: ${APP_NAME}_${TRAVIS_OS_NAME}.tar.gz
  on:
    tags: true
